@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
</div>

<img src="~/images/library.jpg" alt="naslovna" width="100%">

<br/>
<br/>

<p align="justify">
    <b>Članstvo: </b>
    Korisnik Biblioteke Sarajeva može postati svaki građanin Kantona Sarajevo, odnosno Bosne i Hercegovine ako ima stalno ili privremeno boravište na području Kantona Sarajevo.
    Upis se može obaviti u svakom pozajmnom odjeljenju Biblioteke Sarajeva.
    Prilikom upisa u Biblioteku potrebno je predočiti ličnu kartu ili neki drugi identifikacijski dokument, a za djecu dokument roditelja ili staratelja.
    Korisniku Biblioteke se nakon upisa izdaje članska karta koja vrijedi 12 mjeseci od datuma izdavanja.
    Svaki korisnik mora imati svoju člansku kartu koju je dužan pokazati na zahtjev bibliotekara prilikom korištenja bibliotečkih usluga.
    Ukoliko korisnik izgubi člansku kartu, dužan je to prijaviti i tražiti da mu se izda duplikat. Izdavanje duplikata članske karte je 3,00 KM. Izdavanje duplikata elektronske članske karte je 5,00 KM.
    Prava korisnika Biblioteke Sarajeva su neprenosiva.
</p>
