@model List<RoleModel>

@{
    ViewData["Title"] = "View";
   
}

<h1>Uredi uloge </h1>
<br/>

@{
foreach(var role in Model){

    <p>Uloga: <b>@role.RoleName</b></p>  
    <p>Id uloge: @role.RoleId</p>
<a class="btn btn-primary" asp-action="EditUsersInRole" asp-route-RoleId="@role.RoleId"  asp-controller="Account">Dodaj/obriši ulogu</a>
<br />
<br />
<br />
}

}